*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    text-align: center;
    background-color: #444;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    color: aliceblue;
}

input{
    font-size: 34px;
    border-radius: 5px;
    outline: none;
    margin: 8px;
}

section{
    margin-bottom: 20px;
}

form{
    display: flex;
    height: 90vh;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1{
    margin-bottom:20px;
    margin-top: 40px;
    font-size: 60px;
    color: #d4b21b;
}

h2{
    margin-bottom:10px;
    font-size: 20px;
    color: #fff;
}

a{
    transition: 1s;
    border-radius: 10px;
    color: #fff;
    background-color:green;
    font-size: 20px;
    padding: 4px 20px;
    text-decoration: none;
}

a:hover{
    background-color:rgb(19, 163, 43);
    color: #444;
}

p{
    color:#fff;
    font-size: 20px;
    margin-top: 28px;
}

#area{
    background-color: green;
    color: #fff;
    border-radius: 11px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#area2{
    background-color: green;
    color: #fff;
    border-radius: 11px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#area3{
    background-color: green;
    color: #fff;
    border-radius: 11px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#button {
    border-radius: 13px;
    color: wheat;
    background-color: green;
    border: none;
    padding: 1px 21px;
    cursor: pointer;
}

#txtn1{
    font-size: 20px;
    width: 120px;
    color: aliceblue;
    height: 42px;
    border: none;
    background-color: rgb(160 152 100 / 77%);
    cursor: pointer;
    padding: 1px 1px 1px 50px
}

#txtn2{
    font-size: 20px;
    width: 120px;
    color: aliceblue;
    height: 42px;
    border: none;
    background-color: rgb(160 152 100 / 77%);
    cursor: pointer;
    padding: 1px 1px 1px 50px
}

.section2{
    margin-bottom: 20px;
    display: flex;
}